<h1>Welcome!</h1>

<div class="play-container">
  <p>you've clicked <span (click)='countClick()'>this </span>{{ clickCounter }} times.</p>
</div>

<div class="play-container">
  <p>
    <input type="text" [(ngModel)]="name">
    <br>
    <strong>You said: </strong> {{ name }}
  </p>
</div>

<!-- The method that we use to style this div here is just for one css property but what if we want to use multiple properties => look for number 2 -->
<div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgray'">
  <div *ngIf="clickCounter > 4; then isGreater else isNotGreater"></div>
  <ng-template #isGreater>
    <p>The click counter <strong>Is Greater</strong> thant 4.</p>
  </ng-template>
  <ng-template #isNotGreater>
    <p>The click counter <strong>Is Not Greater</strong> than 4.</p>
  </ng-template>
</div>
<!-- 2  -->
<div class="play-container" [ngStyle]="{
  'background-color' : clickCounter > 4 ? 'yellow' : 'lightgray',
  'border' : clickCounter > 4 ? '4px solid black' : 'none'
}">
  <div *ngIf="clickCounter > 4; then isGreater else isNotGreater"></div>
  <ng-template #isGreater>
    <p>The click counter <strong>Is Greater</strong> thant 4.</p>
  </ng-template>
  <ng-template #isNotGreater>
    <p>The click counter <strong>Is Not Greater</strong> than 4.</p>
  </ng-template>
</div>
<!-- let's learn about how to use the above concepts with class -->
<!-- don't forget to create the active class in your scss file -->
<div class="play-container" [class.active]="clickCounter > 4">
  <div *ngIf="clickCounter > 4; then isGreater else isNotGreater"></div>
  <ng-template #isGreater>
    <p>The click counter <strong>Is Greater</strong> thant 4.</p>
  </ng-template>
  <ng-template #isNotGreater>
    <p>The click counter <strong>Is Not Greater</strong> than 4.</p>
  </ng-template>
</div>
<!-- then how to use multiple classes  -->
<div class="play-container" [ngClass]="setClasses()">
  <div *ngIf="clickCounter > 4; then isGreater else isNotGreater"></div>
  <ng-template #isGreater>
    <p>The click counter <strong>Is Greater</strong> thant 4.</p>
  </ng-template>
  <ng-template #isNotGreater>
    <p>The click counter <strong>Is Not Greater</strong> than 4.</p>
  </ng-template>
</div>
